/*------------------------
	font icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}
{% for glyph in glyphs%}
${{ className }}-{{ glyph.name }}: unicode({{ glyph.unicode[0].charCodeAt(0).toString(16) }});{% endfor %}
{% for glyph in glyphs%}
.{{ className }}-{{ glyph.name }}::before {
  content: ${{ className }}-{{ glyph.name }};
}
{% endfor %}
